<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.xyj.crm.mapper.RoleMapper">
  
	<resultMap id="BaseResultMap" type="com.xyj.crm.model.RoleModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
	</resultMap>
  
	<sql id="Base_Column_List">
		id,code,name
	</sql>
	
	<sql id="Append_Where">
		where 1=1 
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code LIKE #{code}
			</if>
			<if test="name != null and name != ''">
				and name LIKE #{name}
			</if>
			<if test="orderby != null and orderby != ''">
				order by  ${orderby}
			</if>
	</sql>
  
  	<insert id="insert" parameterType="Object">
		INSERT INTO mis_schema.role(code,name)
		VALUES(#{code},#{name})
	</insert>
  
  	<select id="selectAll" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM mis_schema.role
		<include refid="Append_Where" />
	</select>
	
	<select id="selectModel" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM mis_schema.role 
		<include refid="Append_Where" />
		LIMIT ${rowStart},${pageLimit}
	</select>
    
  	<select id="select" resultMap="BaseResultMap" parameterType="Object">
		SELECT <include refid="Base_Column_List" />
		FROM mis_schema.role WHERE code = #{id}
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer"  >
		SELECT count(1) FROM mis_schema.role 
		<include refid="Append_Where" />
	</select>
	
	<delete id="delete" parameterType="Object">
		DELETE FROM mis_schema.role WHERE code = #{id}
	</delete>
	
	<update id="update" parameterType="Object">
		UPDATE mis_schema.role SET
		name = #{name}
		WHERE code = #{code}
	</update>
	
</mapper>